@{
    ViewBag.Title = "About";
}
<html>
<body>
    <h2>About Things Lost and Found</h2>
    <hr />
    <p>
        
    </p>
    <p>Technical Features:</p>
    <ul>
        <li>Architectural pattern: Model–View–Controller (MVC)</li>
        <li>Software Framework:.NET Framework 4.5.2</li>
        <li>Programming Languages: C# (C Sharp), Java Script, HTML</li>
        <li>Database: MSQlExpress , Entity Framework 6.1.3</li>
        <li>Other Tools: Google API, GoogleMaps LocationServices, jQuery, CSS, Bootstrap</li>
        
    </ul>
    <p>Upcoming improvements:</p>
   
   
</body>
</html>
